<div class="row">
    <div class="col-md-12">

        <ais-instantsearch [config]="config">
            <ais-search-box></ais-search-box>
            <ais-hits>
                <ng-template let-hits="hits">
                    <div *ngFor="let entry of hits" class="card-body">
                        <h5 class="card-title"># commits: {{ entry.commits.length }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            {{ entry.startTime | dateFormat }} - {{ entry.endTime | dateFormat }}
                        </h6>
                        <p class="card-text">{{ entry.description }}</p>

                        <h6 class="card-footer">
                            <a [routerLink]="['/entries', entry.id]">Details</a>
                        </h6>
                    </div>

                </ng-template>
            </ais-hits>
        </ais-instantsearch>

    </div>
</div>
