<!-- entry-commit association modal -->
<div class="modal" tabindex="-1" role="dialog" id="entry-commit-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Entry-commit(s) Association</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-entry-commit
                    (addCommits)="onAddCommits($event)"
                ></app-entry-commit>
            </div>
            <div class="modal-footer">
                <button
                    #closeCommitsModal
                    type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
