<!-- entry list -->
<table class="table" *ngIf="entries.length">
    <thead class="thead-dark">
    <tr>
        <th scope="col">start</th>
        <th scope="col">end</th>
        <th scope="col">commits</th>
        <th scope="col">description</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let entry of entries">
        <td>{{ entry.startTime | dateFormat }}</td>
        <td>{{ entry.endTime | dateFormat }}</td>
        <td>{{ entry.commits.length }}</td>
        <td>{{ entry.description }}</td>
    </tr>
    </tbody>
</table>

<div *ngIf="!entries.length" class="alert alert-info" role="alert">
    No entries yet!
</div>
