<!-- entry list -->
<div>
    <table class="table" *ngIf="entries.length">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Start</th>
            <th scope="col">End</th>
            <th scope="col">Commits</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let entry of entries">
            <td>{{ entry.startTime | dateFormat }}</td>
            <td>{{ entry.endTime | dateFormat }}</td>
            <td>{{ entry.commits.length }}</td>
            <td>{{ entry.description }}</td>
            <td>
                <i [routerLink]="['/entries', entry.id]" class="fa fa-eye" aria-hidden="true"></i>
                <i (click)="deleteEntry(entry)" class="fa fa-times" aria-hidden="true"></i>
            </td>
        </tr>
        </tbody>
    </table>

    <div *ngIf="!entries.length && !loading" class="alert alert-info" role="alert">
        No entries yet!
    </div>

    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
    <app-loader (scrolled)="getEntries()"></app-loader>
</div>
